import java.util.Random;

@Controller
public class GreetingController {
private int targetNumber;
private int balance = 100000;
private Random random = new Random();

public GreetingController() {
resetGame();
}

@GetMapping("/guess")
public String guessForm(Model model) {
model.addAttribute("balance", balance);
return "guess";
}

@PostMapping("/guess")
public String guess(@RequestParam(name="number", required=true) int number, Model model) {
if (number == targetNumber) {
model.addAttribute("result", "You guessed it!");
resetGame();
} else {
balance -= 10000;
model.addAttribute("result", "Try again!");
}
model.addAttribute("balance", balance);
return "guess";
}

@PostMapping("/reset")
public String reset(Model model) {
resetGame();
model.addAttribute("balance", balance);
return "guess";
}

private void resetGame() {
targetNumber = random.nextInt(10) + 1;
balance = 100000;
}
}